<!DOCTYPE html>
<meta charset="UTF-8">
<th:block th:insert="~{header :: hat}" />

<section class="u-align-center u-clearfix u-image u-shading u-section-1" th:src="@{/images/a9f1l0v7ore41.png}"
         data-image-width="1920" data-image-height="1080" id="sec-25cf">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="add"
           class="u-border-2 u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">
            ДОБАВИТЬ ТОВАР
        </a>
    </div>
</section>

<th:block th:insert="~{footer :: footer}" />