<!DOCTYPE html>
<meta charset="UTF-8" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:insert="~{header :: hat}" />

    <section class="u-clearfix u-section-1" id="sec-cc40">
      <div class="u-clearfix u-sheet u-sheet-1">

          <tr th:each="category" : ${categories}">
              <a href="https://nicepage.me"
                 class="u-border-2 u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1"
                 th:text="@{category.name}">
              </a>
          </tr>

      </div>
    </section>

<th:block th:insert="~{footer :: footer}" />