<!DOCTYPE html>
<meta charset="UTF-8">
<th:block th:insert="~{header :: hat}" />


    <section class="u-align-center u-clearfix u-white u-section-1" id="carousel_7473">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-titillium-web u-text u-text-default u-text-palette-1-dark-1 u-text-1">Товар в категории</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h4 class="u-text u-text-default u-text-2"> Regular Haircut</h4>
                <h4 class="u-text u-text-default u-text-palette-3-base u-text-3">$34+</h4>
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-1" src="images/1651424181_new_preview_icon.png" alt="" data-image-width="512" data-image-height="512">
                <div class="u-border-2 u-border-palette-3-light-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h4 class="u-text u-text-default u-text-4"> Royal Shave</h4>
                <h4 class="u-text u-text-default u-text-palette-3-base u-text-5">$35+</h4>
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-2" src="images/1651424181_new_preview_icon.png" alt="" data-image-width="512" data-image-height="512">
                <div class="u-border-2 u-border-palette-3-light-1 u-expanded-width u-line u-line-horizontal u-line-2"></div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h4 class="u-text u-text-default u-text-6"> Haircut + Royal Shave</h4>
                <h4 class="u-text u-text-default u-text-palette-3-base u-text-7"> $60+&nbsp;<br>
                </h4>
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-3" src="images/1651424181_new_preview_icon.png" alt="" data-image-width="512" data-image-height="512">
                <div class="u-border-2 u-border-palette-3-light-1 u-expanded-width u-line u-line-horizontal u-line-3"></div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h4 class="u-text u-text-default u-text-8"> Haircut + Beard Trim</h4>
                <h4 class="u-text u-text-default u-text-palette-3-base u-text-9">$65+</h4>
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-4" src="images/1651424181_new_preview_icon.png" alt="" data-image-width="512" data-image-height="512">
                <div class="u-border-2 u-border-palette-3-light-1 u-expanded-width u-line u-line-horizontal u-line-4"></div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <h4 class="u-text u-text-default u-text-10"> Beard Trim Machine </h4>
                <h4 class="u-text u-text-default u-text-palette-3-base u-text-11">$23+</h4>
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-5" src="images/1651424181_new_preview_icon.png" alt="" data-image-width="512" data-image-height="512">
                <div class="u-border-2 u-border-palette-3-light-1 u-expanded-width u-line u-line-horizontal u-line-5"></div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <h4 class="u-text u-text-default u-text-12"> Beard + Facial</h4>
                <h4 class="u-text u-text-default u-text-palette-3-base u-text-13">$55+</h4>
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-6" src="images/1651424181_new_preview_icon.png" alt="" data-image-width="512" data-image-height="512">
                <div class="u-border-2 u-border-palette-3-light-1 u-expanded-width u-line u-line-horizontal u-line-6"></div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <h4 class="u-text u-text-default u-text-14"> Haircut and Facial</h4>
                <h4 class="u-text u-text-default u-text-palette-3-base u-text-15">$50+</h4>
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-7" src="images/1651424181_new_preview_icon.png" alt="" data-image-width="512" data-image-height="512">
                <div class="u-border-2 u-border-palette-3-light-1 u-expanded-width u-line u-line-horizontal u-line-7"></div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-8">
                <h4 class="u-text u-text-default u-text-16"> Men’s Facial&nbsp;</h4>
                <h4 class="u-text u-text-default u-text-palette-3-base u-text-17">$25+</h4>
                <img class="u-image u-image-round u-preserve-proportions u-radius-10 u-image-8" src="images/1651424181_new_preview_icon.png" alt="" data-image-width="512" data-image-height="512">
                <div class="u-border-2 u-border-palette-3-light-1 u-expanded-width u-line u-line-horizontal u-line-8"></div>
              </div>
            </div>
          </div>
        </div>
        <p class="u-text u-text-18" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">Image from <a href="https://www.freepik.com/photos/man" class="u-active-none u-border-1 u-border-active-palette-3-base u-border-black u-border-hover-palette-3-base u-border-no-left u-border-no-right u-border-no-top u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-hover-none u-none u-radius-0 u-text-active-palette-3-base u-text-body-color u-text-hover-palette-3-base u-top-left-radius-0 u-top-right-radius-0 u-btn-1" target="_blank">Freepik</a>
        </p>
      </div>
    </section>

<th:block th:insert="~{footer :: footer}" />